<div class=" col-md-6" >
<div th:fragment="kanban_data" class="card card-info card-outline col-md-6" th:if="${screenType == 'K'}"  th:each="kanban : ${kanbanData}">
    <span class="pull-left"> 
    <img src="https://cdn.dribbble.com/users/123846/screenshots/6426558/ironman-full_2x.jpg" alt=""
            style="width: 3cm; height: 4cm;">
    </span> <span class="pull-right"> <label>Administrator</label> <br>
        <label for="">administrator@sbilhbank.com.kh</label> <br> <label for="">Administrator</label> <br>
        <label for="">Admin Group</label>
    </span>
</div>
</div>