<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-white navbar-white border-bottom fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" th:href="@{/}"><i class="fa fa-th" aria-hidden="true"></i> Home <span
          class="sr-only">(current)</span></a>
          
      
    </ul>
	
    <div class="dropdown">
      <button th:text="${session.account == null? '':session.account.userId}" class="btn btn-sm btn-secondary dropdown-toggle"
        type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item" th:href="@{/profile}">View Profile</a>
        <a class="dropdown-item" th:href="@{/changePassword}">Change Password</a>
        <a class="dropdown-item" th:href="@{/logout}">Log out</a>
      </div>
    </div>
  </div>
</nav>