<div th:fragment="script">
    <script th:src="@{/static/plugins/Chart.min.js}"></script>
    <script th:src="@{/static/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/plugins/popper.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/plugins/adminlte.min.js}"></script>
    <script th:src="@{/static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/static/plugins/select2/select2.min.js}"></script>
    <!-- <script th:src="@{/static/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script> -->
   <!--  <script th:src="@{/static/demo.js}"></script> -->
    <script th:src="@{/static/common.js}"></script>
</div>