<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>

<body>
    <nav th:replace="layout/navbar_menu :: navbar_menu"></nav>
  	
  	<form th:action="@{/sample/delete(id=${id})}" method="POST" th:object="${sample}">
    <div class="container-fluid" style="padding-top: 4rem; padding-left: 0.5rem;padding-right: 0.5rem;">
        <div class="card border-primary mb-3">
	        <div class="card-header bg-light border-light">
	        	<label class="card-title" th:text="${session.pathString}"></label><br>
		        <div class="card-tools pull-right">
		        	<span><a th:href="@{/formhelp/view( id = ${forms[0].FormCode} )}" class="btn">
			      	<i class="fa fa-question" aria-hidden="true"></i></a></span> 
			      	
			      	<span><a th:href="@{/formcaption/view( id = ${forms[0].FormCode} )}" class="btn">
				      <i class="fa fa-gear" aria-hidden="true"></i></a></span> 			
			     </div>			    
	        </div>
	        
		        <div class="card-body" style="padding-top: 0.5rem; padding-bottom:0.5rem;">
			        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i> Delete</button>
			        <a href="/sample" class="btn btn-sm btn-warning"><i class="fa fa-undo"></i> Cancel</a>
			        
		           	
		         </div> 
		</div>

		<div th:if="${message}" th:text="${message}" th:class="${class}" role="alert"></div>
		<div class="card border-primary mb-3">
	        <div class="card-body text-primary" style="padding-top: 1rem; padding-bottom:0rem;">	
	        	<div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempCode">Code</label>
                    <div class="col-md-4">   
                    	<input type="hidden" th:field="*{TempCode}">                       
                        <input type="text" class="form-control form-control-sm " th:field="*{TempCode}" disabled>
                        <p th:if="${#fields.hasErrors('TempCode')}" th:errors="*{TempCode}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempShort">Short</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempShort}" disabled>
                        <p th:if="${#fields.hasErrors('TempShort')}" th:errors="*{TempShort}" class="text-danger"></p>
                    </div>
                </div>
	        </div>
        </div>
	    <div class="card border-primary mb-3">
        <div class="card-body text-primary"  style="padding-top: 0.5rem; padding-bottom:0rem;">	
           	<nav>
				<div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-home-tab"
						data-toggle="tab" href="#nav-main" role="tab"
						aria-controls="nav-main" aria-selected="true">Main</a>
						
					<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
						href="#nav-contact" role="tab" aria-controls="nav-contact"
						aria-selected="false">Contact</a> 
						
					<a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab"
                        aria-controls="nav-history" aria-selected="false">History</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			<br>
				<div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">
				<!-- <h5 class="card-title">Main</h5> -->
                

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempName">Name</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempName}" disabled>
                        <p th:if="${#fields.hasErrors('TempName')}" th:errors="*{TempName}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempNameU">Local Name</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempNameU}" disabled>
                        <p th:if="${#fields.hasErrors('TempNameU')}" th:errors="*{TempNameU}" class="text-danger"></p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempOrder">Order</label>
                    <div class="col-md-4">
                        
                        <input type="number" class="form-control form-control-sm " th:field="*{TempOrder}" disabled>
                        <p th:if="${#fields.hasErrors('TempOrder')}" th:errors="*{TempOrder}" class="text-danger"></p>
                    </div>
                    
                    <label class="control-label col-md-2 text-md-right" th:for="TempRemark">Remark</label>
                    <div class="col-md-4">
                        
                        <textarea  th:field="*{TempRemark}" class="form-control form-control-sm" disabled></textarea>
                        <p th:if="${#fields.hasErrors('TempRemark')}" th:errors="*{TempRemark}" class="text-danger"></p>
                    </div>
                </div>

                <div class="row form-group"> 
                    <label class="control-label col-md-2 text-md-right" th:for="TempPass">Password</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempPass}" disabled>
                        <p th:if="${#fields.hasErrors('TempPass')}" th:errors="*{TempPass}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempDate">Open Date</label>
                    <div class="col-md-4">
                        
                        <input type="date" class="form-control form-control-sm " th:field="*{TempDate}" disabled>
                        <p th:if="${#fields.hasErrors('TempDate')}" th:errors="*{TempDate}" class="text-danger"></p>
                    </div>
                </div>

				<div class="row form-group"> 
                    <label class="control-label col-md-2 text-md-right" th:for="TempNumeric">Numeric</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempNumeric}" disabled>
                        <p th:if="${#fields.hasErrors('TempNumeric')}" th:errors="*{TempNumeric}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempInt">Integer</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempInt}" disabled>
                        <p th:if="${#fields.hasErrors('TempInt')}" th:errors="*{TempInt}" class="text-danger"></p>
                    </div>
                </div>
                
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right"></label>
                    <div class="col-md-4">
                        <input type="checkbox" th:field="*{TempStatus}" th:checked="*{TempStatus}" disabled>                        
                        <label th:for="TempStatus" class="control-label">Active</label>
                    </div>

                     <label class="control-label col-md-2 text-md-right" th:for="TempSmallint">Small Integer</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempSmallint}" disabled>
                        <p th:if="${#fields.hasErrors('TempSmallint')}" th:errors="*{TempSmallint}" class="text-danger"></p>
                    </div>
                </div>

            
                </div>
              
                 <!-- /.nav-main -->
				
				<div class="tab-pane fade show" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempWebsite">Web site</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempWebsite}" disabled>
                        <p th:if="${#fields.hasErrors('TempWebsite')}" th:errors="*{TempWebsite}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TypeGroup">Group</label>
                    <div class="col-md-4">     
                    	<input type="text" th:field="*{GroupDesc}" class="form-control form-control-sm" disabled>                   
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempType">Type</label>
                    <div class="col-md-4">                        
                        <input type="text" th:field="*{TypeDesc}" class="form-control form-control-sm "  disabled>                        
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempPhone">Phone</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempPhone}" disabled>
                        <p th:if="${#fields.hasErrors('TempPhone')}" th:errors="*{TempPhone}" class="text-danger"></p>
                    </div>                    
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempSSN">SSN</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempSSN}" disabled>
                        <p th:if="${#fields.hasErrors('TempSSN')}" th:errors="*{TempSSN}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempFax">Fax</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempFax}" disabled>
                        <p th:if="${#fields.hasErrors('TempFax')}" th:errors="*{TempFax}" class="text-danger"></p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempEmail">Email</label>
                    <div class="col-md-4">                        
                        <input type="email" class="form-control form-control-sm " th:field="*{TempEmail}" disabled>
                        <p th:if="${#fields.hasErrors('TempEmail')}" th:errors="*{TempEmail}" class="text-danger"></p>
                    </div>
                    
                    <label class="control-label col-md-2 text-md-right" th:for="TempMoney">Money</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempMoney}" disabled>
                        <p th:if="${#fields.hasErrors('TempMoney')}" th:errors="*{TempMoney}" class="text-danger"></p>
                    </div>
                </div>
                </div>
                <!-- /.nav-contact -->
                 <!-- history -->
                <div class="tab-pane fade table-responsive" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
	                <table class="table table-sm table-hover table-striped table-bordered bg-white">
						<thead>
							<tr th:if="${histories != null && histories.size() > 0}">
								<th th:each="c:${histories[0]}" th:text="${c.getKey()}">
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="col:${histories}"
								th:data-text="|${session.search}/view/?id=${col.get('ID')}|"
								ondblclick="GoToUrl(this.getAttribute('data-text'))">
								<td nowrap th:each="v:${col}" th:text="${v.getValue()}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- end history -->
                </div>
            </div>
            </div>
            <div class="card-footer">
		      <div class="row text-sm text-muted">
	            <div class="col-md-2">Created Date</div>
	            <div class="col-md-2" th:text="*{CreatedDate}"></div>
	            <div class="col-md-2 ">Updated Date</div>
	            <div class="col-md-2 " th:text="*{UpdatedDate}"></div>
	            <div class="col-md-2 ">Record Status</div>
	            <div class="col-md-2 " th:text="*{TempStatus}"></div>
	
	            <div class="col-md-2 ">Created By</div>
	            <div class="col-md-2" th:text="*{CreatedBy}"></div>
	            <div class="col-md-2 ">Updated By</div>
	            <div class="col-md-2 " th:text="*{UpdatedBy}"></div>
	            <div class="col-md-2 ">Authorized Status</div>
	            <div class="col-md-2 " th:text="*{AuthStatus}"></div>
	
	            <div class="col-md-2 ">Created From</div>
	            <div class="col-md-2" th:text="*{CreatedFrom}"></div>
	            <div class="col-md-2 ">Updated From</div>
	            <div class="col-md-2 " th:text="*{UpdatedFrom}"></div>
	            <div class="col-md-2 ">Modified Record</div>
	            <div class="col-md-2 " th:text="*{RecordMod}"></div>
        	</div>
		   </div>
   </div>
	</div>

    </form>

</body>
<div th:replace="layout/script :: script"></div>
<script>

</script>

</html>