<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: header"></head>

<body>
    <nav th:replace="layout/navbar_menu :: navbar_menu"></nav>
    <form th:action="@{/sample/export}" method="POST" th:object="${exportListType}">
    	<div class="container-fluid" style="padding-top: 4rem; padding-left: 0.5rem;padding-right: 0.5rem;">
    		<div class="card border-primary mb-3">
	    		<div class="card-header bg-light border-light">
	    			<label class="label-control" th:text="${session.pathString}"></label><br>
	    			<div class="card-tools pull-right">
				      <span><a th:href="@{/listtype/view( id = ${id} )}" class="btn">
				      <i class="fa fa-gear" aria-hidden="true"></i></a></span> 
				    </div>
	    		</div>
		        
		        <div class="card-body" style="padding-top: 0.5rem; padding-bottom:0.5rem;">	        	
		            <button type="submit" class="btn btn-sm btn-primary">Export</button>
		            <a th:href="@{/sample}" class="btn btn-sm btn-warning">Cancel</a>
	        	</div>
	  		</div>
	       
			<div th:if="${message}" th:text="${message}" th:class="${class}" role="alert"></div>
	        <div class="card border-primary mb-3">
	        <div class="card-body text-primary" style="padding-top: 1rem; padding-bottom:0rem;">	
	
	            <div class="row form-group">
	                <label class="control-label col-md-2 text-md-right" th:for="ListViewCode">Code</label>
	                <div class="col-md-4">
	                	<input type="hidden" th:field="*{ListViewCode}" />
	                    <input disabled type="text" th:field="*{ListViewCode}" th:class="${#fields.hasErrors('ListViewCode')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
	                    
	                </div>
					
					<label class="control-label col-md-2 text-md-right" th:for="ListViewDesc">Name</label>
	                <div class="col-md-4">                  
	                    <input type="hidden" th:field="*{ListViewDesc}" />      
	                    <input disabled type="text" th:field="*{ListViewDesc}" th:class="${#fields.hasErrors('ListViewDesc')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
	                    
	                </div>
	            </div>
	          
	            </div>
	        </div>
	        <div class="row form-group">
	        	
		        <div class="row container-fluid table-responsive" style="padding-right: 0px;">
					<table th:replace="layout/list_export :: list_data"></table>
				</div>
			</div>
		</div>
	

    </form>
    
</body>
<div th:replace="layout/script :: script"></div>

</html>