<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: header">
<style type="text/css" class="init">
	div.container {
        width: 80%;
    }
    
	div.dataTables_wrapper {
		width: 800px;
		margin: 0 auto;
	}

</style>
</head>

<body class="container-fluid">
	<nav th:replace="layout/navbar_menu :: navbar_menu"></nav>

	<div th:replace="layout/search :: search"></div>
	<div class="card">
		<!-- <div class="card-header bg-light border-light">
	        <h5 class="card-title">List</h5>
	        <div class="card-tools pull-right">
		      <span><a th:href="@{/listtype/view( id = ${id} )}" class="btn">
		      <i class="fa fa-gear" aria-hidden="true"></i></a></span> 
		    </div>
        </div> -->
        <div class="card-body">
		<div class="row" style="padding-right: 0px;">
		<div th:if="${(param.message)}" th:text="${(param.message)}" th:class="${(param.class)+' '+'delay5000'}"
			style="width: 100%" role="alert"></div>
		<div class="alert alert-primary delay5000" role="alert" th:if="${listData != null && listData.size() <1}">No
			record found</div>

		<div th:if="${trees != null && trees.size() > 0}" class="col-md-2">
			<!-- here is tree -->
		</div>
		<div th:class="${trees != null && trees.size() > 0} ? 'col-md-10 table-responsive' : 'col-md-12 table-responsive'"
			style="padding-right: 0px;">


			<!-- canban -->
			<div class="row">
				<div th:replace="sample/kanban :: kanban"></div>
			</div>
			
			<!-- <div class="row" style="padding-top: 4rem;"> -->
			<div class="row" style="padding-right: 0px;">
				<table th:replace="layout/list_data :: list_data"></table>
			</div>
			
			<div th:if="${screenType == 'D'}" class="row Dashboard">
				
			</div>

		</div>
	</div>
	</div>
	</div>

</body>
<div th:replace="layout/script :: script"></div>
<script th:if="${dashboardList != null && dashboardList.size() > 0}" th:inline="javascript">
	var jdashboard =  /*[[${dashboardList}]]*/ {};
	$(document).ready(function () {
		createCard(jdashboard);
	});
</script>
<script>
  $(function () {
    $('#list_data').DataTable({
      'scrollY':        '50vh',  //vertically scrolling unit
      //'scrollY':        '200px',  //pagination for displaying a large table in a fairly small vertical area
      'scrollX' 	: true,			//both horizontal and vertical scrolling at the same time
      'scrollCollapse': true,
      'paging'      : false,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : true
      //"pagingType": "full_numbers"
    })
  })
</script>
</html>