<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>

<body>
    <nav th:replace="layout/navbar_menu :: navbar_menu"></nav>



    <form th:action="@{/sampletype/create}" method="POST" th:object="${sampletype}">
        <div style="padding-top: 4rem; padding-left: 1rem; padding-right: 1rem;">
        	<label class="label-control" th:text="${session.pathString}"></label><br>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
            <a th:href="@{/sampletype}" class="btn btn-sm btn-warning">Cancel</a>
        </div>
        <hr>

        <div class="container">
            <div th:if="${message}" th:text="${message}" th:class="${class}" role="alert"></div>
            <fieldset>
                <legend>Main</legend>
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TypeCode">Code</label>
                    <div class=" col-md-4">                        
                        <input type="text" th:field="*{TypeCode}" th:class="${#fields.hasErrors('TypeCode')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TypeShort">Short</label>
                    <div class=" col-md-4">                        
                        <input type="text" th:field="*{TypeShort}" th:class="${#fields.hasErrors('TypeShort')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TypeDesc">Name</label>
                    <div class=" col-md-4">                        
                        <input type="text" th:field="*{TypeDesc}" th:class="${#fields.hasErrors('TypeDesc')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        
                    </div>

                    <!-- <label class="control-label col-md-2 text-md-right" th:for="TypeDescU">Local Name</label>
                    <div class=" col-md-4">                        
                        <input type="text" th:field="*{TypeDescU}" th:class="${#fields.hasErrors('TypeDescU')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        
                    </div> -->
                </div>
				
                <!-- <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempOrder">Order</label>
                    <div class=" col-md-4">
                        
                        <input type="number" th:field="*{TempOrder}" th:class="${#fields.hasErrors('TempOrder')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempOrder')}" th:errors="*{TempOrder}" class="text-danger"></p>
                    </div>
                    
                    <label class="control-label col-md-2 text-md-right" th:for="TempRemark">Remark</label>
                    <div class=" col-md-4">
                        
                        <textarea  th:field="*{TempRemark}" class="form-control form-control-sm" ></textarea>
                        <p th:if="${#fields.hasErrors('TempRemark')}" th:errors="*{TempRemark}" class="text-danger"></p>
                    </div>
                </div> -->

                <!-- <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempPass">Password</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempPass}" th:class="${#fields.hasErrors('TempPass')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempPass')}" th:errors="*{TempPass}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempDate">Date</label>
                    <div class=" col-md-4">
                        
                        <input type="date" th:field="*{TempDate}" th:class="${#fields.hasErrors('TempDate')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempDate')}" th:errors="*{TempDate}" class="text-danger"></p>
                    </div>
                </div> -->

               <!-- <div class="row form-group"> 
                    <label class="control-label col-md-2 text-md-right" th:for="TempNumeric">Numeric</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempNumeric}">
                        <p th:if="${#fields.hasErrors('TempNumeric')}" th:errors="*{TempNumeric}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempInt">Integer</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempInt}">
                        <p th:if="${#fields.hasErrors('TempInt')}" th:errors="*{TempInt}" class="text-danger"></p>
                    </div>
                </div> -->
                
                <!-- <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right"></label>
                    <div class="col-md-4">
                        <input type="checkbox" th:field="*{TempStatus}" th:checked="*{TempStatus}">                        
                        <label th:for="TempStatus" class="control-label">Active</label>
                    </div>

                     <label class="control-label col-md-2 text-md-right" th:for="TempSmallint">Small Integer</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TempSmallint}">
                        <p th:if="${#fields.hasErrors('TempSmallint')}" th:errors="*{TempSmallint}" class="text-danger"></p>
                    </div>
                </div> -->
						<label class="control-label col-md-2 text-md-right" th:for="TypeGroup">Group</label>
                    <div class=" col-md-4">
                        
                        <select th:field="*{TypeGroup}" class="form-control form-control-sm" onchange="get_sampletypetype('TypeGroup', 'TempType')" >
                            
                            <option  th:each="typegroup : ${typegroups}" th:selected="${typegroup.Code==sampletype.TypeGroup}" th:value="${typegroup.Code}" th:text="${typegroup.Name}" >
                            </option>
                        </select>
                        <p th:if="${#fields.hasErrors('TypeGroup')}" th:errors="*{TypeGroup}" class="text-danger"></p>
                    </div>
                </fieldset>

                <!-- <fieldset>
                    <legend>Contact</legend>
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempWebsite">Web site</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempWebsite}" th:class="${#fields.hasErrors('TempWebsite')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempWebsite')}" th:errors="*{TempWebsite}" class="text-danger"></p>
                    </div>

                    
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempType">Type</label>
                    <div class=" col-md-4">
                        
                        <select th:field="*{TempType}" class="form-control form-control-sm" >
                            <option th:value="*{TempType}" th:text="*{TempType}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('TempType')}" th:errors="*{TempType}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempPhone">Phone</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempPhone}" th:class="${#fields.hasErrors('TempPhone')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempPhone')}" th:errors="*{TempPhone}" class="text-danger"></p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempSSN">SSN</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempSSN}" th:class="${#fields.hasErrors('TempSSN')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempSSN')}" th:errors="*{TempSSN}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TempFax">Fax</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempFax}" th:class="${#fields.hasErrors('TempFax')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempFax')}" th:errors="*{Temp]Fax}" class="text-danger"></p>
                    </div>
                </div>

                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TempEmail">Email</label>
                    <div class=" col-md-4">
                        
                        <input type="email" th:field="*{TempEmail}" th:class="${#fields.hasErrors('TempEmail')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempEmail')}" th:errors="*{TempEmail}" class="text-danger"></p>
                    </div>
                    
                     <label class="control-label col-md-2 text-md-right" th:for="TempFax">Money</label>
                    <div class=" col-md-4">
                        
                        <input type="text" th:field="*{TempMoney}" th:class="${#fields.hasErrors('TempMoney')} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'">
                        <p th:if="${#fields.hasErrors('TempMoney')}" th:errors="*{Temp]Money}" class="text-danger"></p>
                    </div>
                </div>
                </fieldset> -->
    
               
            </div>
   

    </form>
</body>
<div th:replace="layout/script :: script"></div>
<script>

    function get_sampletypetype(from, to) {

        var _to = $('#' + to);
        _to.empty();

        var id = document.getElementById(from).value;
        console.log(id);

        $.get("/sampletypejson/sampletypetype/" + id, function (json) {
        	/*  _to.append('<option value="-1">--- Select ---</option>'); */
            $.each(json, function (i, v) {
                _to.append('<option value="' + v.code + '">' + v.name + '</option>');
            });
        });
    }
</script>
</html>