<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>

<body>
    <nav th:replace="layout/navbar_menu :: navbar_menu"></nav>
    <div style="padding-top: 4rem; padding-left: 1rem;padding-right: 1rem;">
    	<label class="label-control" th:text="${session.pathString}"></label><br>
        <a th:href="@{/sampletype/update( id = ${id} )}" class="btn btn-sm btn-primary">Update</a>
        <a th:href="@{/sampletype/delete( id = ${id} )}" class="btn btn-sm btn-danger">Delete</a>
        <!-- <a th:href="@{/sampletype/create}" class="btn btn-sm btn-primary">Create</a> -->
        <a href="/sampletype" class="btn btn-sm btn-warning">Cancel</a>
    </div>

    <form  th:object="${sampletype}">       
        <hr>
        <div class="container">
            <div th:if="${message}" th:text="${message}" th:class="${class}" role="alert"></div>
            <fieldset>
                <legend>Main</legend>
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right" th:for="TypeCode">Code</label>
                    <div class="col-md-4">                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TypeCode}" disabled>
                        <p th:if="${#fields.hasErrors('TypeCode')}" th:errors="*{TypeCode}" class="text-danger"></p>
                    </div>

                    <label class="control-label col-md-2 text-md-right" th:for="TypeDesc">Name</label>
                    <div class="col-md-4">
                        
                        <input type="text" class="form-control form-control-sm " th:field="*{TypeDesc}" disabled>
                        <p th:if="${#fields.hasErrors('TypeDesc')}" th:errors="*{TypeDesc}" class="text-danger"></p>
                    </div>
                </div>

             
                <div class="row form-group">
                    <label class="control-label col-md-2 text-md-right"></label>
                    <div class="col-md-4">
                        <input type="checkbox" th:field="*{TypeStatus}" th:checked="*{TypeStatus}" disabled>                        
                        <label th:for="TypeStatus" class="control-label">Active</label>
                    </div>

                     <label class="control-label col-md-2 text-md-right" th:for="TypeGroup">Group</label>
                    <div class="col-md-4">                        
                        <select th:field="*{TypeGroup}" class="form-control form-control-sm" onchange="get_sampletypetype('TypeGroup', 'TempType')" disabled>
                            
                            <option  th:each="typegroup : ${typegroups}" th:selected="${typegroup.Code==sampletype.TypeGroup}" th:value="${typegroup.Code}" th:text="${typegroup.Name}" >
                            </option>
                        </select>
                        <p th:if="${#fields.hasErrors('TypeGroup')}" th:errors="*{TypeGroup}" class="text-danger"></p>
                    </div>
                </div>  
            </fieldset>   
            </div>
   

    </form>

</body>
<div th:replace="layout/script :: script"></div>
<script>

    function get_sampletypetype(from, to) {

        var _to = $('#' + to);
        _to.empty();

        var id = document.getElementById(from).value;
        console.log(id);

        $.get("/sampletypejson/sampletypetype/" + id, function (json) {
            $.each(json, function (i, v) {
                _to.append('<option value="' + v.code + '">' + v.name + '</option>');
            });
        });
    }
</script>

</html>