<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: header"></head>

<body>
	<nav th:replace="layout/navbar :: navbar"></nav>
	<form th:action="@{/changePassword}" method="POST" th:object="${changePassword}">
		<div class="container" style="padding-top: 4rem;">

			<div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>


			<div class="card card-primary card-outlet" style="margin-left: 15rem; margin-right: 15rem;">
				<div class="card-header">
					<h3>Change Password</h3>
					Manage your profile information
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="" class="form-label">User name</label>
						<input type="text" disabled="disabled" th:field="*{username}"  required class="form-control form-control-sm" placeholder="Username">
					</div>
		
					<div class="form-group">
						<label for="" class="form-label">Old Password</label>
						<input type="password" th:field="*{oldPassword}" required class="form-control form-control-sm"
							placeholder="Enter Old Password">
					</div>
		
					<div class="form-group">
						<label for="" class="form-label">New Password</label>
						<input type="password" th:field="*{newPassword}"  required class="form-control form-control-sm"
							placeholder="Enter New Password">
					</div>
					
					<div class="form-group">
						<label for="" class="form-label">Confirm Password</label>
						<input type="password" th:field="*{confirmPassword}"  required class="form-control form-control-sm"
							placeholder="Enter Confirm Password">
					</div>
					
					<button class="btn btn-sm btn-lg btn-primary btn-block" type="submit">Save</button>
					<a class="btn btn-sm btn-lg btn-primary btn-block" href="/">Cancel</a>
		
					
				</div>
			</div>

















			

			

		</div>
	</form>
</body>
<div th:replace="layout/script :: script"></div>

</html>